.contentFooter{
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    border: 1.7px solid #e2e2e2;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.contentFooterLeft{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contentFooterPaging{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.contentFooterPaging span {
    margin-left: 5px;
    margin-right: 5px;
}
.buttonPage{
    height: 35px;
    padding: 10px;
    background-color:transparent;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    border: #d1f1ff solid 3px;
    border-radius: 6px;
}
.buttonPage:focus{
    border: #026b97 solid 3px;
    outline: none;
}
.firstPage{
    background: url("../../assets/common-icon.png") no-repeat -656px -131px;
	width: 8px;
	height: 8px;
}
.prevPage{
    background: url("../../assets/common-icon.png") no-repeat -708px -131px;
	width: 5px;
	height: 8px;  
}

.nextPage{
    background: url("../../assets/common-icon.png") no-repeat -758px -131px;
	width: 5px;
	height: 8px;
}
.lastPage{
    background: url("../../assets/common-icon.png") no-repeat -806px -131px;
	width: 8px;
	height: 8px; 
}
.refresh{
    background: url("../../assets/common-icon.png") no-repeat -855px -128px;
	width: 10px;
	height: 14px;
}
/* .currentPage{
    height: 35px;
    width: 50px;
    border: gray;
    align-items: center !important;
    justify-content: center;
} */
.contentFooterPaging{
    margin-left: 10px;
}
.typePage{
    margin-left: 10px;
}
.contentFooterRight{
    margin-right: 15px;
}