.gridTable {
    max-height: 80vh;
    overflow: auto;
}

thead th {
    border: 1.7px solid #e2e2e2;
    position: sticky;
    top: -1px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 15px;
}

table {
    border: none;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

td {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

tbody {
    height: 450px;
    overflow: auto;
    font-family: GoogleSans-Regular !important;
    font-size: 13px !important;
}

tbody td,
tbody th {
    border: 1.7px solid #e2e2e2;
    border-right: none;
}

tbody th {
    text-align: center;
    padding: 0;
    border-left: none;
}

tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #d1f1ff;
    transition: 0.4s;
    cursor: pointer;
}