.content{
    position: absolute;
    top: 60px;
    left: 200px;
    width: calc(100% - 200px);
    height: calc(100vh - 60px);
    background-color: #c7c5c5;
    padding:10px 10px 0 10px;
}
.contenBody{
    height: 100%;
}