.navbar {
    position: relative;
    float: left;
    width: 200px;
    height: 100vh;
    background-color: #026b97;
    border-right: 1px solid #bbbbbb;
}

    .navbar .logoSite {
        display: flex;
        align-items:center;
        width: 100%;
        height: 60px;
    }
    .navbar .logoBox {
        display: flex;
        position: absolute;
        width: 100%;
        /* left: 24px; */
        cursor:pointer;
    }

        /*Logo page*/
        .navbar .logoBox .amisLogo {
            width: 100%;
            height: 60px;
            background-image: url('../../assets/Logo_Full_White.png');
            background-position: 0 center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color:#00577b;
        }

    .navbar .navbarContent {
        width: 100%;
    }

        .navbar .navbarContent .navbarItem{
            display:flex;
            padding-left:10px;
            height:44px;
            cursor:pointer;
            line-height:44px;
        }

            .navbar .navbarContent .navbarItem:hover {
                background-color: #0088c1;
            }

            .navbar .navbarContent .navbarItem:focus{
                background-color:#00577b;
            }

            .navbar .navbarContent .navbarItem:active{
                background-color:#00577b;
            }

            .navbarItem .navbarItemIcon {
                width: 20px;
                height: 20px;
                align-self: center;
                margin-right: 10px;
                background-size: contain;
            }

.navbarItemText{
    color: #ffffff;
}