@import './basic/_button.css';
@import './basic/_common.css';
@import './basic/_icon.css';
@import './basic/_input.css';
@import './basic/_table.css';
@import './basic/_toolbar.css';
@import './layout/_content.css';
@import './layout/_header.css';
@import './layout/_content.css';
@import './layout/_navbar.css';
@import './pages/_retaurant.css';
@import './pages/_dialog.css';
@import './basic/_footer.css';


@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../assets/font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../assets/font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../assets/font/GoogleSans-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Light';
    src: url('../assets/font/GoogleSans-Light.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Thin';
    src: url('../assets/font/GoogleSans-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Black';
    src: url('../assets/font/GoogleSans-Black.otf') format('opentype');
}
